%script{:src => "javascripts/prescriptions.js", :type => "text/javascript"}


%section.prescription.pure-g.clearfix
  .pure-u-1.pure-u-md-1-3
    .prescription-header.current-prescription
      %span Current prescription
    %table.pure-table.pure-table-horizontal
      %thead
        %tr
          %th Event
          %th Description
          %th Quantity
          %th Period
      %tr.pure-table-odd
        %td Mental Health
        %td 
          Depression 
          %br
          (measured by 'Life Satisfaction')
        %td -
        %td daily
      %tr 
        %td Excercise
        %td Swimming, running, karate
        %td 60 min
        %td weekly
      %tr.pure-table-odd
        %td Medicine
        %td Wellbutrin
        %td 150 mg
        %td 1x/day
      %tr
        %td Medicine
        %td Fluoxetine
        %td 10mg
        %td 1x/day
      %tr.pure-table-odd
        %td Sleep
        %td -
        %td 8 hrs
        %td nightly
  .pure-u-1.pure-u-md-1-3
    .prescription-header
      .past-prescription
        Past prescription
        %span (prescribed July 2013)
    %table.pure-table.pure-table-horizontal
      %thead
        %tr
          %th Event
          %th Description
          %th Quantity
          %th Period
      %tr.pure-table-odd
        %td Mental Health
        %td 
          Depression 
          %br
          ('Life Satisfaction')
        %td -
        %td daily
      %tr
        %td Medicine
        %td Bupropion
        %td 200 mg
        %td 2x/day
      %tr.pure-table-odd
        %td Alcohol treatment program
        %td AA meetings
        %td -
        %td 1x/month
      %tr
        %td Sleep
        %td -
        %td 8 hrs
        %td nightly
  .pure-u-1.pure-u-md-1-3
    .prescription-header
      .past-prescription
        Past prescription
        %span (prescribed March 2013)
    %table.pure-table.pure-table-horizontal
      %thead
        %tr
          %th Event
          %th Description
          %th Quantity
          %th Period
      %tr.pure-table-odd
        %td Mental Health
        %td 
          Depression 
          %br
          ('Life Satisfaction')
        %td -
        %td daily
      %tr
        %td Medicine
        %td Wellbutrin
        %td 150 mg
        %td 1x/day
      %tr.pure-table-odd
        %td Alcohol treatment program
        %td AA meetings
        %td -
        %td 1x/month
      %tr
        %td Diet
        %td Eat regularly
        %td -
        %td 3-4x/day  

%br
%br