/**************************** Calendar ****************************/

#calcontainer {
	text-align: center;
	display: inline-block;
}
#calheader{
	width:100%;
	height:30px;
	text-align:center;
}
#calheader h2{
	margin-top:15px;
}
#calcontainer{
	margin-bottom:10px;
}
.dayweek{width:107px;height:30px;float:left;border-right:1px solid #e5e5e5;}
.dayweek p{display:block;text-align:center;font-size:10px;line-height:31px;text-shadow:0 1px 0 #ffffff;}
.week{overflow:auto;border-top:1px solid #c2c2c2;}
.weeku{overflow:auto;border-top:1px solid #c2c2c2;border-bottom:1px solid #e5e5e5;}
.today{background:#fffcdf;border-right:1px solid #e5e5e5;}
.today .daybar{background:#fffac1;}
.day{width:107px;float:left;border-right:1px solid #e5e5e5;}
.brn{border-right:none;}
.bun{border-bottom:none;}
.daybar{width:100%;float:left;background:#f3f3f3;}
.daybar p{margin-left:5px;margin-top:3px;margin-bottom:3px;font-size:10px;font-weight:400;color:#969696;text-shadow:0 1px 0 #ffffff;}
.dots{width:100%;height:35px;clear:both;}
.dots ul{text-align:center;white-space:nowrap;overflow:hidden;}
.dots ul li{margin-top:10px;display:inline-block;-webkit-border-radius:14px;width:12px;height:12px;}

/**************************** Colors ****************************/
.none{background:#d6d6d6;}
.none:hover{background:#dfdfdf;}
.magenta{background:$magenta;}
.yellow{background:$darkyellow;}
.orange{background:$orange;}

/**************************** Legend ****************************/
#calcat{
	margin-bottom:20px;
	margin-right:5px;
	text-align: center;
	overflow: hidden;
}

.label {
	display: inline-block;
	padding-right: 10px;
}
.caldot{
	float:left;
	width:12px;
	height:12px;
	border-radius:20px;
	margin-left:10px;
	margin-top:4px;
	margin-right:8px;
}
