// colors
$alert: rgba(204,41,41,1); // red
$warning: rgba(239,181,0,1); // yellow
/* $warning: rgba(214, 136, 10, 1); // orange */
$ok: rgba(50, 173, 34, 1); // green
$neutral: rgba(47, 120, 189, 1); // blue

// MENU: change time scales
.dashboard-menu {
	list-style-type: none;
    float: right;
    overflow: auto;
    padding-top: 20px;
    padding-right: 15px;
}
.dashboard-menu .date-range {
	border: none;
	padding-right: 1em;
	font-size: 1.5em;
	vertical-align: middle;
}
.dashboard-menu li {
	list-style-type: none;
    float: left;
    border: 1px solid gray;
    padding: 10px 10px;
}
.dashboard-menu li a {
	text-decoration: none;
}
.dashboard-menu .selected {
	background: $purple;
}
.dashboard-menu .selected a {
	color: white;
}
// TILES: each dashboard piece
.dashboard {
	overflow: hidden;
}
.dashboard-piece {
    min-height: 225px;
    color: white;
    padding-left: $margin-left;
    float: left;
}
.dashboard-piece-alert {
	@extend .dashboard-piece;
    background: $alert;
}
.dashboard-piece-warning {
	@extend .dashboard-piece;
    background: $warning;
}
.dashboard-piece-ok {
	@extend .dashboard-piece;
    background: $ok;
}
.dashboard-piece-info {
	@extend .dashboard-piece;
    background: $neutral;
}
// INSIDE TILE: content > header (top row) > data (icon > value [> percentage > caption])
.dashboard-content .header {
  padding-top: 12px;
  font-size: 175%;
  font-weight: 300;
	text-transform: uppercase;
	text-align: left;
}
.dashboard-data {
	overflow: hidden;
	line-height:7em;
}
.dashboard-data i {
	float: left;
}
.dashboard-data .value {
	float: left;
    font-size: 7em;
    font-weight: bolder;
    letter-spacing: -0.04em;
    padding-right: 0.15em;
}
.dashboard-data .small {
	float: left;
	font-size: 125%;
	font-family: 'Maiden Orange', cursive;
}
.dashboard-data img {
	padding-left: 100px;
	height: 90%;
	float: left;
}
.dashboard-caption {
	float: left;
	color: $light-gray;
	line-height: 2em;
}
.dashboard-caption .i {
	font-size: 1.5em;
}
.dashboard-caption .new {
	font-weight: lighter;
	font-style: italic;
	color: rgba(216, 216, 215, 0.6);
	padding-right: 0.5em;
}